html {
  background: #5E35B1;
  height: auto;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  background: whitesmoke;
}

#root {
  min-height: 100%;
  min-width: 100%
}

#mainContainer {
  margin-top: 7em;
}