html {
  background: #1A237E;
  height: auto;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  background: #ECEFF1;
}

#root {
  min-height: 100%;
  min-width: 100%
}

#mainContainer {
  margin-top: 7em;
}

.scrollableResults .results{
  overflow-y: auto;
  max-height: 60vh;
}